@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <title>The Joel Hilton Film Collection</title>
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1>
	<img src="~/img/joelhiltonheadshot.jpg" />
    <p>This is an ugly website right now! I built it for functionality, not beauty. </p>
</div>

<div>
    <a asp-controller="Home" asp-action="WaitList">View WaitList</a>
</div>
<div>
    <a></a>
</div>