@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Html code for the About Joel page *@
<h1>Get to Know Joel:</h1>
<p>Joel does comedy at Quick Wits Comedy. Check them out!</p>
<a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
<br /><br />
<p>Joel also is on the BaconSale podcast. Give it a listen!</p>
<a href="https://baconsale.com/" target="_blank">BaconSale</a>
<br />
@* Link to baconsale on image *@
<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/baconsalekate.jpg" href="https://baconsale.com/" />
    </a>